.pagination {
    font-family: Inter, serif;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 88px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.pagination__page-box {
    display: flex;
    height: 40px;
    gap: 12px;
    padding: 28px 0 0 20px;
}

.pagination__page-box--item-active {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 6px;
    border: 2px solid #A85757;
    box-sizing: border-box;
    color: #A85757;
}

.pagination__page-box--item {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    box-sizing: border-box;
}

.pagination__page-counter {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 28px 20px 0 0;
}

.pagination__page-counter--slider {
    height: 100%;
    padding: 10px 16px;
    background-color: #514A4A;
    color: white;
    width: 76px;
    border-radius: 6px;
}

.pagination__page-counter--slider:focus {
    outline: none;
}